body {background: #888}

.N {height:40pt; width:80pt; padding:0; margin:0; overflow:hidden;}
.N:before {content: url("graphics/normal.svg"); display:inline-block; font-size:0; line-height:0;}

.R {height:40pt; width:80pt; padding:0; margin:0; overflow:hidden;}
.R:before {content: url("graphics/reversed.svg"); display:inline-block; font-size:0; line-height:0;}

.on {display:inline-block;}
.off {display:none;}
